@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #666; }

section {
  padding: 100px 0; }

button {
  outline: none;
  cursor: pointer;
  background: none;
  border: none; }

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto; }

.header__container {
  max-width: 1080px;
  padding: 0 15px;
  margin: 0 auto; }

.disc {
  font-weight: lighter; }

.page {
  height: 100vh;
  background: url(../img/BG.jpg) center no-repeat;
  background-size: cover; }

.header {
  padding-top: 35px; }
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 30px; }
  .header-logo {
    margin: 0 10px;
    cursor: pointer; }
  .header-menu {
    display: none;
    margin-right: 30px;
    cursor: pointer; }

nav a {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  padding: 10px;
  line-height: 30px; }
  nav a:hover {
    color: #ff7200;
    background: #343434;
    border-radius: 5px; }

.intro {
  color: #fff; }
  .intro__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 275px; }
  .intro__left-arrow {
    margin-left: 20px;
    cursor: pointer;
    margin-top: 30px; }
  .intro__right-arrow {
    margin-right: 20px;
    cursor: pointer;
    margin-top: 30px; }
  .intro__titles {
    text-align: center; }
  .intro__title {
    font-size: 72px;
    font-weight: normal;
    text-transform: uppercase; }
  .intro__sup {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 60px;
    margin-top: 10px; }
    .intro__sup span {
      color: #ff7200; }
  .intro__btn button {
    padding: 20px 35px;
    background: none;
    border: 2px solid #fff;
    outline: none;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear; }
    .intro__btn button:hover {
      color: #000;
      background: #fff; }
  .intro__slider-2__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 80px; }
    .intro__slider-2__btns a {
      margin-right: 30px; }
      .intro__slider-2__btns a:last-child {
        margin-right: 0; }
  .intro__slider-2__sup {
    font-weight: normal;
    font-size: 16px;
    text-align: center; }

.slideshow-container {
  position: relative;
  overflow: hidden; }

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
.about__titles {
  text-align: center;
  color: #666;
  margin-bottom: 77px; }
.about__title span {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 2px solid #666;
  text-transform: uppercase; }
.about__sup {
  margin-top: 40px;
  line-height: 20px;
  font-weight: lighter;
  letter-spacing: 0.14px;
  font-size: 14px; }
.about__downer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.about__left {
  margin-top: 50px;
  width: 580px;
  height: 370px;
  margin-right: 24px; }
  .about__left__bg {
    width: 580px;
    height: 370px;
    background: url(../img/about__left.jpg) no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .about__left__bg img {
      cursor: pointer;
      width: 48px;
      height: 48px;
      margin: 0 25px; }
      .about__left__bg img:last-child {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
        float: right; }
.about__right__title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.2px; }
.about__right__disc {
  font-weight: lighter;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.14px;
  margin: 25px 0;
  font-style: italic; }
.about__right__btns a {
  margin-right: 30px; }
  .about__right__btns a:last-child {
    margin-right: 0; }
  .about__right__btns a button {
    padding: 15px 20px;
    border: 1px solid #ff7200;
    border-radius: 5px;
    color: #ff7200;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear; }
    .about__right__btns a button:hover {
      background: #ff7200;
      color: #fff; }

.weare {
  background: url(../img/bg-amazing.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
  padding-bottom: 100px;
  padding-top: 100px; }
  .weare-titles {
    color: #fff; }
    .weare-titles hr {
      width: 170px;
      height: 2px;
      color: #fff;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px; }
  .weare-title span {
    border-bottom: 0;
    position: relative; }
  .weare-sup {
    margin-top: 0; }
  .weare-downer-row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 80px; }
    .weare-downer-row1-card {
      width: 35%; }
    .weare-downer-row1-imgs {
      margin-right: 30px; }
    .weare-downer-row1-title {
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase; }
    .weare-downer-row1-sup {
      font-size: 14px;
      font-weight: lighter;
      line-height: 22px; }
  .weare-downer-row1-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 70px; }
    .weare-downer-row1-card:last-child {
      margin-right: 0; }
  .weare-downer-row2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.team {
  padding-bottom: 0; }
  .team-titles {
    color: #666; }
  .team-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .team-card {
    width: 24%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .team-card-img {
      margin-bottom: 30px;
      text-align: center; }
    .team-card-title {
      font-weight: lighter;
      font-size: 16px;
      text-align: center; }
      .team-card-title span {
        color: #ff7200; }
    .team-card-disc {
      font-weight: lighter;
      font-size: 15px;
      line-height: 22px;
      margin: 15px 0;
      -webkit-hyphens: auto;
          -ms-hyphens: auto;
              hyphens: auto; }
    .team-card-imgs img {
      background: #f0f0f0;
      border-radius: 50%;
      padding: 15px;
      cursor: pointer;
      -webkit-transition: all 0.1s linear;
      transition: all 0.1s linear; }
      .team-card-imgs img:first-child {
        padding: 13px 19px 13px 17px; }
      .team-card-imgs img:nth-child(2) {
        padding: 15px 14px 15px 15px; }
      .team-card-imgs img:nth-child(3) {
        padding: 13px 16px 14px 18px; }
      .team-card-imgs img:last-child {
        padding: 15px 12px 14px 14px; }
      .team-card-imgs img:hover {
        background: #ff7200; }

.works-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
.works-item {
  width: 25%;
  height: 260px; }
  .works-item img {
    width: 100%;
    height: 100%; }

.buy {
  padding-top: 0; }
  .buy-disc {
    line-height: 30px;
    font-size: 20px;
    text-align: center; }
    .buy-disc span {
      color: #ff7200; }
  .buy-btns {
    margin-top: 35px;
    text-align: center; }
    .buy-btns a {
      margin-right: 30px; }
      .buy-btns a:last-child {
        margin-right: 0; }
      .buy-btns a button {
        padding: 15px 27px;
        border-radius: 5px;
        border: 1px solid #ff7200;
        color: #ff7200;
        -webkit-transition: all 0.1s linear;
        transition: all 0.1s linear; }
        .buy-btns a button:hover {
          background: #ff7200;
          color: #fff; }

.clients {
  background: url(../img/bg-downer.jpg) center no-repeat;
  background-size: cover;
  padding-bottom: 0; }
  .clients-downer {
    color: #f0f0f0;
    text-align: center; }
    .clients-downer-title {
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 30px; }
    .clients-downer-disc {
      font-size: 16px;
      line-height: 22px; }
    .clients-downer-sup {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      margin: 35px 0; }
      .clients-downer-sup span {
        color: #ff7200; }
    .clients-downer-arrows {
      margin-bottom: 100px; }
      .clients-downer-arrows img {
        cursor: pointer;
        margin-right: 30px; }
        .clients-downer-arrows img:last-child {
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg);
          margin-right: 0; }
  .clients-names {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 160px;
    background: #ff7200;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .clients-names-arrows {
      margin-left: 70px;
      cursor: pointer; }
      .clients-names-arrows:last-child {
        margin-left: 0;
        margin-right: 70px;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
  .clients-name img {
    margin-right: 50px; }
    .clients-name img:last-child {
      margin-right: 0; }

.feat-downer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .feat-downer-left {
    margin-right: 30px; }

.right-feat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 55px; }
  .right-feat-titles {
    margin-left: 30px; }
  .right-feat-title {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 15px; }
  .right-feat-disc {
    font-size: 14px;
    font-weight: lighter;
    line-height: 20px; }

.footer {
  background: #303030;
  color: #fff; }
  .footer-inner {
    padding-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer-contact-info {
    width: 24%;
    margin-right: 30px; }
    .footer-contact-info-disc {
      line-height: 20px;
      font-size: 14px;
      font-weight: lighter;
      margin: 20px 0; }
    .footer-contact-info-title {
      line-height: 20px;
      font-size: 14px;
      font-weight: lighter;
      color: #acabab;
      margin-bottom: 20px; }
      .footer-contact-info-title span {
        color: #fff; }
    .footer-contact-info-imgs img {
      margin-right: 5px;
      cursor: pointer; }
      .footer-contact-info-imgs img:last-child {
        margin-right: 0; }
  .footer-latest {
    width: 24%;
    margin-right: 30px; }
    .footer-latest-img {
      margin-bottom: 20px; }
    .footer-latest-post1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 25px; }
      .footer-latest-post1-imgs {
        margin-right: 15px; }
      .footer-latest-post1-sup {
        margin: 10px 0;
        font-size: 13px;
        font-weight: lighter;
        color: #acabab;
        line-height: 18px; }
      .footer-latest-post1-title {
        font-size: 14px;
        line-height: 20px;
        font-weight: normal; }
      .footer-latest-post1-disc {
        font-size: 13px;
        font-weight: lighter;
        color: #ff7200; }
  .footer-services {
    width: 24%;
    margin-right: 30px; }
    .footer-services-titles {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 20px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      border-bottom: 1px solid #fff;
      padding-bottom: 15px; }
    .footer-services-title {
      font-weight: normal;
      font-size: 14px; }
    .footer-services-disc {
      font-size: 13px;
      font-weight: lighter;
      color: #acabab;
      line-height: 18px;
      padding-bottom: 20px;
      border-bottom: 1px solid #fff; }

.none {
  border-bottom: none; }

.footer-contact-name {
  margin-top: 30px; }
  .footer-contact-name::-webkit-input-placeholder {
    background: url(../img/man-contact.png) right no-repeat; }
  .footer-contact-name:-ms-input-placeholder {
    background: url(../img/man-contact.png) right no-repeat; }
  .footer-contact-name::-ms-input-placeholder {
    background: url(../img/man-contact.png) right no-repeat; }
  .footer-contact-name::placeholder {
    background: url(../img/man-contact.png) right no-repeat; }
.footer-contact-email {
  margin: 15px 0; }
  .footer-contact-email::-webkit-input-placeholder {
    background: url(../img/letter-contact.png) right no-repeat; }
  .footer-contact-email:-ms-input-placeholder {
    background: url(../img/letter-contact.png) right no-repeat; }
  .footer-contact-email::-ms-input-placeholder {
    background: url(../img/letter-contact.png) right no-repeat; }
  .footer-contact-email::placeholder {
    background: url(../img/letter-contact.png) right no-repeat; }
.footer-contact-submit {
  background: #ff7200;
  text-transform: uppercase;
  outline: none;
  border: none;
  margin-top: 30px;
  color: #fff;
  cursor: pointer; }
.footer-contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .footer-contact form input {
    width: 270px;
    height: 35px;
    outline: none; }
    .footer-contact form input::-webkit-input-placeholder {
      color: #acabab;
      font-size: 14px;
      font-weight: lighter; }
    .footer-contact form input:-ms-input-placeholder {
      color: #acabab;
      font-size: 14px;
      font-weight: lighter; }
    .footer-contact form input::-ms-input-placeholder {
      color: #acabab;
      font-size: 14px;
      font-weight: lighter; }
    .footer-contact form input::placeholder {
      color: #acabab;
      font-size: 14px;
      font-weight: lighter; }
  .footer-contact form textarea {
    width: 270px;
    height: 120px;
    resize: none;
    outline: none; }
    .footer-contact form textarea::-webkit-input-placeholder {
      color: #acabab;
      font-size: 14px;
      font-weight: lighter;
      background: url(../img/pencik-contact.png) right no-repeat; }
    .footer-contact form textarea:-ms-input-placeholder {
      color: #acabab;
      font-size: 14px;
      font-weight: lighter;
      background: url(../img/pencik-contact.png) right no-repeat; }
    .footer-contact form textarea::-ms-input-placeholder {
      color: #acabab;
      font-size: 14px;
      font-weight: lighter;
      background: url(../img/pencik-contact.png) right no-repeat; }
    .footer-contact form textarea::placeholder {
      color: #acabab;
      font-size: 14px;
      font-weight: lighter;
      background: url(../img/pencik-contact.png) right no-repeat; }

.footer-downer {
  height: 70px;
  margin-top: 100px;
  background: #202020; }
  .footer-downer-inner {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-downer-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer-downer-left p {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 14px;
      font-weight: lighter;
      letter-spacing: 0.14px;
      margin-left: 30px; }
  .footer-downer-right a {
    text-decoration: none;
    font-size: 14px;
    color: #acabab;
    font-weight: lighter;
    margin-right: 20px; }
    .footer-downer-right a:last-child {
      margin-right: 0; }

@media (max-width: 1000px) {
  .about__downer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .about__left {
    width: 100%;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .feat-downer {
    display: block; }
    .feat-downer-left {
      text-align: center;
      margin: 0;
      margin-top: 50px; }

  .right-feat {
    margin-top: 50px; }

  .footer-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .footer-inner div {
      width: 100%;
      margin: 0;
      margin-bottom: 50px; }

  .footer-contact-info {
    margin: 0 !important; }

  .footer-services {
    margin-bottom: 0 !important; }

  .footer-latest-img {
    margin-bottom: 30px; }
  .footer-latest-post1:last-child {
    margin-bottom: 0; }
  .footer-latest-post1 div {
    height: 30px; }
    .footer-latest-post1 div:first-child {
      width: 70px; }

  .none {
    margin-top: 15px !important;
    margin-bottom: 5px !important; }

  .footer-contact-button {
    text-align: left;
    padding: 0; } }
@media (max-width: 850px) {
  .intro__inner {
    margin-top: 175px; }

  .intro__title {
    font-size: 50px; }

  .intro__sup {
    font-size: 15px; }

  .weare-downer-row1, .weare-downer-row2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0; }

  .weare-downer-row1-card {
    width: 60%;
    margin: 0;
    margin-bottom: 50px; }

  .team-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .team-card {
    width: 49%;
    text-align: center;
    margin-right: 2%; }
    .team-card:nth-child(1), .team-card:nth-child(2) {
      margin-bottom: 50px; }
    .team-card:nth-child(2), .team-card:nth-child(4) {
      margin-right: 0; }

  .works-item {
    width: 50%;
    height: 260px; }
    .works-item img {
      width: 100%;
      height: 100%; }

  .footer-downer {
    height: 120px; }

  .footer-downer-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 20px; }
    .footer-downer-inner div {
      width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
      margin-bottom: 20px; }
      .footer-downer-inner div:last-child {
        margin-bottom: 0; } }
@media (max-width: 660px) {
  nav {
    display: none; }

  .header__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 0; }
  .header-menu {
    display: block; }

  .intro__inner {
    margin-top: 155px; }

  .intro__title {
    font-size: 45px; }

  .intro__sup {
    font-size: 12px; }

  .intro__left-arrow, .intro__right-arrow {
    width: 20px;
    height: 50px; }
    .intro__left-arrow img, .intro__right-arrow img {
      width: 20px;
      height: 50px; }

  .intro__left-arrow {
    margin-right: 30px; }

  .intro__right-arrow {
    margin-left: 30px; }

  .intro__slider-2__btns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .intro__slider-2__btns a {
      width: 100%;
      text-align: center;
      margin-right: 0;
      margin-bottom: 30px; }
      .intro__slider-2__btns a:last-child {
        margin-bottom: 0; }

  .about__titles {
    margin-bottom: 20px; }

  .about__left__bg {
    width: 400px; }

  .clients-names {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 200px;
    background: #ff7200;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .clients-names-arrows {
      margin-left: 0;
      cursor: pointer;
      width: 49%;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
      .clients-names-arrows:last-child {
        margin-left: 0;
        margin-right: 0;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
  .clients-name img {
    width: 130px;
    height: 50px;
    margin-right: 30px; }
    .clients-name img:last-child {
      margin-right: 0; }

  .feat-downer-left img {
    width: 400px;
    height: 300px; } }
@media (max-width: 425px) {
  section {
    padding: 50px 0; }

  .header-menu {
    margin-right: 0; }

  .header-logo {
    margin: 0; }

  .intro__inner {
    margin-top: 155px; }

  .intro__title {
    font-size: 40px; }

  .intro__sup {
    font-size: 12px; }

  .intro__btn button {
    padding: 15px 20px; }

  .intro__left-arrow, .intro__right-arrow {
    width: 15px;
    height: 40px; }
    .intro__left-arrow img, .intro__right-arrow img {
      width: 15px;
      height: 40px; }

  .intro__left-arrow {
    margin-right: 30px; }

  .intro__right-arrow {
    margin-left: 30px; }

  .about__right__btns a {
    margin-right: 20px; }

  .about__right {
    margin-top: 50px; }

  .weare-sup {
    margin-bottom: 70px; }

  .weare-downer-row1, .weare-downer-row2 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start; }

  .weare-downer-row1-card {
    width: 100%; }
    .weare-downer-row1-card:last-child {
      margin-bottom: 50px; }

  .team-card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px; }
    .team-card:last-child {
      margin-bottom: 0; }

  .works-item {
    width: 100%;
    height: 260px; }
    .works-item img {
      width: 100%;
      height: 100%; }

  .feat-downer-left img {
    width: 300px;
    height: 250px; }

  .footer-downer {
    height: 200px; }

  .footer-downer-left {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .footer-downer-left p {
      margin-top: 20px;
      margin-left: 0; } }
